.signupPageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 243, 244);
  height: 100%;
  border: 2px solid green;
}
/* 
*{
  border: 1px solid red;
} */

/* Responsive */
@media (min-width: 768px) {
  /* .signupPageContainer {
    padding: 1rem;
    flex-direction: column;
  } */
}

.signupForm {
  width: 17rem;
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 1.5rem 0.7rem;
  /* justify-content: center; */
}
/* Responsive */
@media (min-width: 768px) {
  .signupForm {
    padding: 1rem;
    box-shadow: none;
  }
}

.signupFormHeading {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  /* width: 8rem; */
  color: black;
  line-height: 1;
  /* border: 1px solid red; */
  text-align: center;
  align-self: center;
}
/* Responsive */
@media (min-width: 768px) {
  /* .signupFormHeading {
    font-size: 1.5rem;
    text-align: center;
  } */
}

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.7rem;
  height: 2rem;
}
/* Responsive */
@media (min-width: 768px) {
  .formField {
  }
}

.formField label {
  font-size: 0.6rem;
}

.formField input {
  height: 2rem;
  flex-shrink: 0;
  border: 0;
  border-radius: 1.2rem;
  background: rgb(247, 246, 246);
  padding: 0 1rem;
  margin-top: 0.3rem;
}

.termsSection {
  margin-bottom: 1.5rem;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
}
/* Responsive */
@media (min-width: 768px) {
  .termsSection {
    text-align: left;
    margin-bottom: 1rem;
  }
}

.termsSection a {
  align-self: center;
  position: relative;
  top: 1rem;
}

.termsCheckboxWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* Responsive */
@media (min-width: 768px) {
  .termsCheckboxWrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}

.formNextButton {
  background-color: rgb(26, 144, 240);
  height: 2rem;
  flex-shrink: 0;
  border: 0;
  border-radius: 1.2rem;
  padding: 0 1rem;
  /* margin-top: 0.3rem; */
  color: white;
  font-size: .8rem
}
/* Responsive */
@media (min-width: 768px) {
  .formNextButton {
    width: 100%;
  }
}
